@import "./base/reset";
@import "./base/colors";
@import "./abstracts/mixins";

body {
    background-image: url("./img/blur-clean.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 6rem;
    margin: auto;
    font-weight: 900;
}

.box {
    @include box-border;
    width: 350px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
    position: relative;
}

#c {
    background: $gray;
    animation: c 1.5s ease-in forwards;
    transform: translateY(-320px);
}

@keyframes c {
    0% {transform: translateY(-320px);}
    100% {transform: translateY(280px);}
}

#s1 {
    background: $red;
    animation: s1 1.5s ease-in 1.5s forwards;
    transform: translateY(-320px);
}

@keyframes s1 {
    0% {transform: translateY(-320px);}
    100% {transform: translateY(280px);}
}

#s2 {
    background: $yellow;
    animation: s2 1.5s ease-in 3s forwards;
    transform: translateY(-320px);
}

@keyframes s2 {
    0% {transform: translateY(-320px);}
    100% {transform: translateY(280px);}
}