@import "./base/reset";
@import "./base/colors";
@import "./abstracts/mixins";

body {
    background-image: url("./img/blur-clean.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 6rem;
    margin: auto;
    font-weight: 900;
}

.box {
    @include box-border;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    color: white;
}

#c {
    background: $gray;
    animation: c 1.5s ease-in forwards;
    top: -350px;
}

@keyframes c {
    0% {top: -350px;}
    100% {top: 300px;}
}

#s1 {
    background: $red;
    animation: s1 1.5s ease-in 1.5s forwards;
    top: -350px;
}

@keyframes s1 {
    0% {top: -300px;}
    100% {top: 300px;}
}

#s2 {
    background: $yellow;
    animation: s2 1.5s ease-in 3s forwards;
    top: -350px;
}

@keyframes s2 {
    0% {top: -300px;}
    100% {top: 300px;}
}